body {
  font-family: "Poppins", sans-serif;
  background: #fcf8e8;
}
header {
  background: black;
}
.banner {
  background: url("assets/img/bg.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
}
.banner h1 {
  font-size: 9rem;
  font-weight: bold;
}
.banner p {
  padding-left: 10px;
}
